/* Global CSS variables */
:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-weight: 600;
  --text-color: black;
  --text-color-dark: rgba(255, 255, 255, 0.85);
  --background-color: rgba(255, 255, 255, 1);
  --background-color-dark: #242424;
}

/* Default light mode */
body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--text-color);
  background-color: #ffffff;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
}

/* Forcable dark mode */
body.dark-mode {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* maybe future styles, which i think are relevant after actually using it */
